﻿#work-in-progress{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 999;
}
#progress-img-container{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
}
#work-in-progress img{
  display: inline-block;
  margin-top: 200px;
}
.hi-activeuser{
  float: left;
  margin: 0;
  font-size: 24px;
  color: #fff;
}
.nav > li.dashboard-menu{
  display: none;
}
.container{
  min-width: 1000px;
}
main {
    float: left;
    width: 100%;
}
.app-main-container{
  float: right;
  width: calc(100% - 215px);
  padding: 0;
}
.app-test-menu-item{
  position: relative;;
  width: 180px;
  height: 100px;
  margin: 0 auto 20px;
  background-color: #fff;
  border-radius: 6px;
  cursor: pointer;
}
.active .app-test-menu-item{
  box-shadow: 0 0 0 4px rgb(51, 221, 252);
}
.app-test-menu-item:after{
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 6px;
}
.active .app-test-menu-item:after{
  display: none;
}
.app-test-menu-item-sub1{
  position: absolute;
  width: 100px;
  height: 40px;
  top: 20px;
  left: 20px;
  font-size: 40px;
  line-height: 40px;
}

.app-test-menu-item-sub2{
  position: absolute;
  width: 60px;
  height: 40px;
  top: 20px;
  right: 0px;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: rgb(51, 221, 252);
}

.app-test-menu-item-sub3{
  position: absolute;
  width: 100px;
  height: 12px;
  bottom: 15px;
  left: 15px;
  font-size: 12px;
  line-height: 12px;
  color: #aaa;
}

.app-test-menu-item-sub4{
  position: absolute;
  width: 60px;
  height: 12px;
  bottom: 15px;
  right: 0px;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: #aaa;
}

.app-test-menu-item-sub5{
  position: absolute;
  width: 1px;
  height: 70px;
  top: 15px;
  right: 60px;
  background-color: #aaa;
}
/*
.active .app-test-menu-item-sub6{
  position: absolute;
  width: 7px;
  height: 7px;
  top: -1px;
  left: -1px;
  background-color: transparent;
  border-top: 5px solid rgb(51, 221, 252);
  border-left: 5px solid rgb(51, 221, 252);
  border-top-left-radius: 6px;
}
.active .app-test-menu-item-sub7{
  position: absolute;
  width: 7px;
  height: 7px;
  bottom: -1px;
  left: -1px;
  background-color: transparent;
  border-left: 5px solid rgb(51, 221, 252);
  border-bottom: 5px solid rgb(51, 221, 252);
  border-bottom-left-radius: 6px;
}
.active .app-test-menu-item-sub8{
  position: absolute;
  top: -1px;
  right: -1px;
  overflow: hidden;
  width: 7px;
  height: 30px;
  border-top-right-radius: 6px;
}
.active .app-test-menu-item-sub8:before{
  content: '';
  position: absolute;
  width: 0px;
  height: 0px;
  top: 0px;
  right: 0px;
  background-color: transparent;
  border-top: 30px solid rgb(51, 221, 252);
  border-left: 7px solid transparent;
}
*/
.elem-infos{
  margin-right: 0;
}
.elem-infos .col-sm-5{
  width: 40%;
}
.elem-infos .col-sm-2{
  width: 20%;
}
.elem-symbol{
  color: #fff;
  font-size: 40px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  border-right: 1px solid #aaa;
}
.elem-name{
  color: #fff;
  font-size: 20px;
  height: 60px;
  line-height: 60px;
  text-align: left;
  padding: 0 10px;
}
.elem-desc{
  color: #ddd;
  font-size: 12px;
  height: 40px;
  line-height: 20px;
  text-align: left;
  margin: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.elem-test-info{
  width: 120px;
  height: 60px;
  border: 4px solid rgb(51, 221, 252);
  border-radius: 30px;
  text-align: center;
  color: #ddd;
  float: left;
  padding-top: 4px;
}
.elem-measure{
  font-size: 12px;
}
.elem-measure-value{
  font-size: 20px;
  color: #fff;
  font-weight: bold;
}
.elem-measure-type{
  color: #fff;
  font-weight: bold;
}
.elem-test-desc{
  color: #ddd;
  font-size: 12px;
  height: 40px;
  width: calc(100% - 140px);
  line-height: 20px;
  text-align: left;
  float: left;
  margin: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.compare-col{
  padding: 0;
}
.elem-compare-info{
  width: 120px;
  height: 60px;
  border: 4px solid rgb(185, 231, 132);
  border-radius: 30px;
  text-align: center;
  color: #ddd;
  margin: 0 auto;
  padding-top: 4px;
}
.elem-compare-info select{
  border: 0;
  background: transparent;
  width: 50px;
}
.elem-compare-info select:focus{
  outline: none;
}
.elem-compare-info select option{
  /*background: rgba(0, 0, 0, 0.3);*/
  color: #000;
}
.dashboard-graph{
  position: relative;
  height: 150px;
  /*overflow: hidden;*/
  margin-bottom: 25px;
}
.dashboard-graph-values{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.dashboard-graph-value-bar{
  font-size: 10px;
  color: #777;
  border-bottom: 1px solid #777;
  height: 30px;
  line-height: 10px;
  padding-top: 20px;
}
.dashboard-graph-value-bar:first-child{
  height: 10px;
  padding-top: 0;
}
.dashboard-graph-scroll{
  position: absolute;
  top:10px;
  left: 40px;
  width: calc(80% - 40px);
  height: 140px;
  overflow-y: hidden;
  overflow-x: auto;
  display:block;
}
.dashboard-graph-scroll.scrolling{
  height: 150px;
  overflow-x: auto;
}
.dashboard-graph-scroll::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: transparent;
}

.dashboard-graph-scroll::-webkit-scrollbar
{
	width: 10px;
  height: 10px;
	background-color: transparent;
}

.dashboard-graph-scroll::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: transparent;
}
.dashboard-graph-item{
  position: absolute;
  height: 100%;
  bottom: 0;
}
.dashboard-graph-value.highlight{
  background: rgb(51, 221, 252);
}
.dashboard-graph-value.awaiting{
  background: rgb(51, 221, 252);
}
.dashboard-graph-value{
  position: absolute;
  background: #888;
  width: 70%;
  left: 15%;
  bottom: 20px;
  text-align: center;
  color
}
.dashboard-graph-date{
  position: absolute;
  bottom: 0;
  color: #ddd;
  text-align: center;
  width: 100%;
}
.test-graphs{
  margin-top: 20px;
}
.dashboard-graph-newtest{
  position: absolute;
  bottom: 0;
  color: rgb(51, 221, 252);
  font-size: 12px;
  cursor: pointer;
  text-align: center;
  width: 100%;
}
.separator-for-compare{
  width: 1px;
  height: 230px;
  background: #eee;
  position: absolute;
  bottom: 0;
  right: 20%;
}
.dashboard-graph-compare-item{
  position: absolute;
  background: rgb(185, 231, 132);
  bottom: 20px;
}
.dashboard-graph-compare-text{
  position: absolute;
  bottom: 0;
  color: #ddd;
  text-align: center;
  font-size: 12px;
}
.elements-list{
  overflow: hidden;
  margin-right: -5px;
}
.element-item{
  width: 70px;
  height: 70px;
  margin-bottom: 6px;
  margin-right: 6px;
  border-radius: 4px;
  background-color: #fff;
  padding: 10px;
  float: left;
  text-align: center;
  position: relative;
  cursor: pointer;
}
.element-item.recently{
  background-color: rgb(237, 181, 182);
}
.element-item.active{
  background-color: rgb(51, 221, 252);
}
.element-symbol{
  font-size: 36px;
  line-height: 36px;
}
.element-name{
  position: absolute;
  font-size: 10px;
  line-height: 10px;
  bottom: 10px;
  left: 0;
  width: 100%;
  height: 10px;
}
.show_step{
  text-align: center;
  margin-bottom: 40px;
}
.show_step p{
  line-height: 25px;
  font-size: 18px;
  font-weight: 900;
  text-align: center;
  color: #ffffff;
}
.show_step.show_step_3 p{
  font-size: 17px;
}
.show_step p.step-title{
  line-height: 49px;
  font-size: 36px;
}
.show_step img{
  cursor: pointer;
  margin-bottom: 20px;
}
.show_step_content{
  width: 410px;
  margin: auto;
}
.show_step_content label{
  line-height: 26px;
  font-size: 18px;
  margin-bottom: 10px;
}
.show_step_content input{
  height: 80px;
  background-color: #d8d8d8;
  font-size: 24px;
}
.show_step_content .form-group{
  margin-bottom: 30px;
  overflow: hidden;
}
.aquarium-volume-form-control{
  float: left;
  width: 270px;
}
.aquarium-units-form-control{
  float: right;
  width: 100px;
  overflow: hidden;
}
.units-toggle-div{
  width: 100px;
  height: 60px;
  background: #d8d8d8;
  border-radius: 30px;
  position: relative;
  margin-top: 10px;
}
.units-toggle-div span{
  position: absolute;
  width: 60px;
  height: 60px;
  line-height: 60px;
  top: 0;
  font-size: 24px;
  font-weight: 900;
  color: #3c565b;
  display: block;
  text-align: center;
}
.units-value-l{
  left: 0;
}
.units-value-g{
  left: 40px;
}
.units-toggle-btn{
  position: absolute;
  top: 10px;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: 2px solid #979797;
  background: #33ddfc;
}
.units-toggle-btn.units-toggle-btn-g{
  left: 10px;
}
.units-toggle-btn.units-toggle-btn-l{
  left: 50px;
}
.show_step_content button{
  width: 100%;
  height: 80px;
  background-color: #33ddfc;
  font-size: 24px;
  font-weight: 900;
  color: #525252;
}
.show_step_content button:hover, .show_step_content button:active, .show_step_content button:focus{
  background-color: rgb(61, 241, 255);
}
.multi-steps{
  width: 100%;
  overflow: hidden;
  margin: auto;
}
.multi-step-item{
  float: left;
  width: 16.67%;
  height: 170px;
  background-repeat: no-repeat;
  background-position: center;
}
.multi-step-item-3{
  background-image: url(/step_3.png);
  background-size: 20%;
}
.multi-step-item-4{
  background-image: url(/step_4.png);
  background-size: 60%;
}
.multi-step-item-5{
  background-image: url(/step_5.png);
  background-size: 60%;
}
.multi-step-sep:first-child{
  background: transparent;
}
.multi-step-sep{
  width: 8.33%;
  height: 4px;
  float: left;
  margin-top: 83px;
  background-color: rgb(51, 221, 252);
}
.show_step_3 .row{
  margin: 0px;
}
.show_step_3 .col-sm-4{
  padding: 0px;
}
.show_step_content_3 .form-group{
  text-align: center;
}
.show_step_content_3 input{
  font-size: 36px;
  font-weight: 900;
  text-align: center;
  color: #3c565b;
}
.show_step_content_3 button{
  margin-bottom: 20px;
}
