<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>MEAN Stack User Registration and Login Example Application</title>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/style.css" rel="stylesheet" />
</head>
<body class="container">
    <!-- header -->
    <header>
        <div id="logo-div">
            <img src="/logo.png">
            <p>ICP-ANALYSIS.COM</p>
        </div>
        <div id="header-menu">
            <div class="flash-message" ng-if="flash">
                <div class="{{'alert alert-' + flash.type}}" ng-bind="flash.message"></div>
            </div>
        </div>
    </header>

    <!-- nav -->
    <nav>
        <ul class="nav nav-tabs">
<% if (action == 'signin' || action == 'forgot') { %>
            <li class="active"><a href="/login">Sign In</a></li>
<% } else { %>
            <li><a href="/login">Sign In</a></li>
<% } %>
<% if (action == 'signup') { %>
            <li class="active"><a href="/register">Create Account</a></li>
<% } else { %>
            <li><a href="/register">Create Account</a></li>
<% } %>
            <li><a href="/app">Regurn to Store</a></li>
        </ul>
    </nav>
