﻿<%- include('partials/header') %>
<div class="form-container">
    <% if(locals.error) { %>
        <div class="alert alert-danger"><%= error %></div>
    <% } %>
    <% if(locals.success) { %>
        <div class="alert alert-success"><%= success %></div>
    <% } %>
    <form method="post" class="sign-frm">
        <h1 style="color:#fff; margin-bottom: 20px;">Forgot Password</h1>
        <div class="form-group">
            <label for="useremail">Email</label>
            <input type="email" name="useremail" id="useremail" value="<%= locals.useremail || '' %>" class="form-control" />
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Reset Password</button>
        </div>
    </form>
</div>
<%- include('partials/footer') %>
