﻿<%- include('partials/header') %>
<div class="form-container">
    <% if(locals.error) { %>
        <div class="alert alert-danger"><%= error %></div>
    <% } %>
    <% if(locals.success) { %>
        <div class="alert alert-success"><%= success %></div>
    <% } %>
    <form method="post" class="sign-frm">
        <div class="form-group">
            <label for="useremail">Email</label>
            <input type="email" name="useremail" id="useremail" value="<%= locals.useremail || '' %>" class="form-control" />
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" class="form-control" />
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Sign In</button>
            <!-- <a href="/register" class="btn btn-link">Register</a> -->
        </div>
        <div class="form-group form-forgot-pass">
            <a href="/forgot" class="btn btn-link">Forgot Password?</a>
        </div>
    </form>
</div>
<%- include('partials/footer') %>
