﻿<%- include('partials/header') %>
<div class="form-container">
    <!-- <h2>Register</h2> -->
    <% if(locals.error) { %>
        <div class="alert alert-danger"><%= error %></div>
    <% } %>
    <% if(locals.success) { %>
        <div class="alert alert-success"><%= success %></div>
    <% } %>
    <form method="post" class="sign-frm">
        <h1 style="color:#fff; margin-bottom: 20px;">Reset Password</h1>
        <input type="hidden" name="userId" value="<%= userId %>">
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" class="form-control" required />
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Reset Password</button>
        </div>
    </form>
</div>
<%- include('partials/footer') %>
