<!-- nav -->
<nav>
    <ul class="nav nav-tabs users-nav">
        <li id="aquarium-li-{{aquarium._id}}" ng-repeat="aquarium in vm.aquariums" ng-click="vm.open_aquarium(aquarium._id)">
          <div class="app-test-menu-item">
            <div class="app-test-menu-item-sub1">{{aquarium.volume}}{{aquarium.units}}</div>
            <div class="app-test-menu-item-sub2">{{aquarium.tests.length}}</div>
            <div class="app-test-menu-item-sub3">{{aquarium.tankname}}</div>
            <div class="app-test-menu-item-sub4">TESTS</div>
            <div class="app-test-menu-item-sub5"></div>
            <div class="app-test-menu-item-sub6"></div>
            <div class="app-test-menu-item-sub7"></div>
            <div class="app-test-menu-item-sub8"></div>
          </div>
        </li>
        <li class="active" ng-class="" ng-click="vm.add_aquarium()" id="add_aquarium_nav">
          <div class="app-test-menu-item">
            <div class="app-test-menu-item-sub1">+</div>
            <div class="app-test-menu-item-sub2"></div>
            <div class="app-test-menu-item-sub3">ADD AQUARIUM</div>
            <div class="app-test-menu-item-sub4"></div>
          </div>
        </li>
    </ul>
</nav>

﻿<div class="app-main-container container-fluid" ng-show="vm.view_aquarium">
  <div class="row elem-infos">
    <div class="col-sm-5">
      <table width="100%">
        <tr>
          <td class="elem-symbol"></td>
          <td class="elem-name"></td>
          <td class="elem-desc"></td>
        </tr>
      </table>
    </div>
    <div class="col-sm-5">
      <div class="elem-test-info">
        <div class="elem-measure"><span class="elem-measure-value elem-measure-current-value">0.00</span>ppm</div>
        <div class="elem-measure">Level: <span class="elem-measure-type"></span></div>
      </div>
      <div class="elem-test-desc"></div>
    </div>
    <div class="col-sm-2 compare-col">
      <div class="elem-compare-info">
        <div class="elem-measure"><span class="elem-measure-value elem-measure-compare-value">0.1</span>ppm</div>
        <div class="elem-measure"><select ng-model="vm.location_id" ng-change="vm.select_location()"><option ng-repeat="location in vm.locations" ng-value="location._id" ng-selected="vm.location_id">{{location.name}}</option></select></div>
      </div>
    </div>
  </div>
  <div class="test-graphs">
    <div class="dashboard-graph">
      <div class="dashboard-graph-values">
        <div class="dashboard-graph-value-bar">2.0</div>
        <div class="dashboard-graph-value-bar">1.5</div>
        <div class="dashboard-graph-value-bar">1.0</div>
        <div class="dashboard-graph-value-bar">0.5</div>
        <div class="dashboard-graph-value-bar">0.0</div>
      </div>
      <div id="dashboard-graph-scroll" class="dashboard-graph-scroll">
        <div class="dashbaord-graph-board"></div>
        <div class="dashboard-graph-newtest" ng-click="vm.start_new_test()">+ New Test</div>
      </div>
      <div class="separator-for-compare"></div>
      <div class="dashboard-graph-compare-item" style="height:6px; right: 5%; width: 10%;"></div>
      <div class="dashboard-graph-compare-text" style="right: 0%; width: 20%;">COMPARE</div>
    </div>
  </div>
  ﻿<div class="elements-list">
    <div class="element-item element-item-{{element.symbol}}" ng-repeat="element in vm.elements" ng-class="{recently : vm.isContain(element.symbol)}" ng-click="vm.show_element_result(element)">
      <div class="element-symbol">{{element.symbol}}</div>
      <div class="element-name">{{element.elemName}}</div>
    </div>
  </div>
</div>

﻿<div class="app-main-container container-fluid" ng-show="vm.new_aquarium">
  <div ng-show="vm.show_step_1" class="show_step">
    <img src="/step_1.png" ng-click="vm.show_step_1_form()">
    <p class="step-title">Step 1</p>
    <p>Get started by adding your<br>first aquarium</p>
  </div>
  <div ng-show="vm.show_step_1_content" class="show_step_content">
    <form>
      <div class="form-group">
          <label for="tankname">Tank Name</label>
          <input type="text" name="tankname" id="tankname" class="form-control" ng-model='vm.aquarium.tankname' placeholder="Tank Name" required />
      </div>
      <div class="form-group">
        <div class="aquarium-volume-form-control">
          <label for="volume">Volume</label>
          <input type="text" name="volume" id="volume" class="form-control" ng-model='vm.aquarium.volume' placeholder="e.g. 75" required />
        </div>
        <div class="aquarium-units-form-control">
          <label for="units">Units</label>
          <input type="hidden" name="units" id="units" ng-model='vm.aquarium.units'>
          <div class="units-toggle-div" ng-click="vm.units_toggle()"><span class="units-value-l">L</span><span class="units-value-g">G</span><div class="units-toggle-btn units-toggle-btn-g"></div></div>
        </div>
      </div>
      <div class="form-group">
          <button type="button" class="btn btn-primary" ng-click="vm.add_new_aquarium()">Add Aquarium</button>
      </div>
    </form>
  </div>
</div>

﻿<div class="app-main-container container-fluid" ng-show="vm.aquarium_step_2">
  <div class="show_step">
    <img src="/step_2.png">
    <p class="step-title">Step 2</p>
    <p>Purchase a ICP-Analysis<br>Water Test Kit</p>
  </div>
  <div class="show_step_content">
    <form>
      <div class="form-group">
          <button type="button" class="btn btn-primary" ng-click="vm.purchase_aquarium()">Order Test Kits</button>
      </div>
      <div class="form-group">
          <button type="button" class="btn btn-primary" ng-click="vm.purchase_aquarium()">Ready To Start New Test!</button>
      </div>
    </form>
  </div>
</div>

﻿<div class="app-main-container container-fluid" ng-show="vm.aquarium_step_3">
  <div class="show_step show_step_3">
    <div class="multi-steps">
      <div class="multi-step-sep"></div>
      <div class="multi-step-item multi-step-item-3"></div>
      <div class="multi-step-sep"></div>
      <div class="multi-step-sep"></div>
      <div class="multi-step-item multi-step-item-4"></div>
      <div class="multi-step-sep"></div>
      <div class="multi-step-sep"></div>
      <div class="multi-step-item multi-step-item-5"></div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <p class="step-title">Step 3</p>
        <p>Collect your water<br>sample</p>
      </div>
      <div class="col-sm-4">
        <p class="step-title">Step 4</p>
        <p>Write the Unique Test ID (Below)<br>on your label and affix it<br>to your water sample</p>
      </div>
      <div class="col-sm-4">
        <p class="step-title">Step 5</p>
        <p>Mail your sample(s)<br>to our address</p>
      </div>
    </div>
  </div>
  <div class="show_step_content show_step_content_3">
    <form>
      <div class="form-group">
          <label>Unique Test ID</label>
          <input type="text" name="unique_id" id="unique_id" class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required" placeholder="123-456-789" required="" readonly>
      </div>
      <div class="form-group">
          <button type="button" class="btn btn-primary" ng-click="vm.update_test_status()">Sample Sent</button>
          <label>We will notify you when your sample<br>has been received!</label>
      </div>
    </form>
  </div>
</div>
