@font-face {font-family: 'Avenir';font-weight: normal;font-style: normal;src: url(/AvenirLTStd-Roman.otf);}
﻿body {
    padding: 0;
    margin: 0;
    font-family: Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.flash-message {
    margin-top: 20px;
}
.container{
  width: 100vw;
  height: 100vh;
  background: rgb(70, 80, 90); /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(rgb(70, 80, 90), rgb(30, 35, 40)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(rgb(70, 80, 90), rgb(30, 35, 40)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(rgb(70, 80, 90), rgb(30, 35, 40)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(rgb(70, 80, 90), rgb(30, 35, 40)); /* Standard syntax */
  font-family: Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
.nav>li>a{
  cursor: pointer;
}
header{
  height: 150px;
}
header #logo-div{
  padding-top: 30px;
  float: left;
  width: 200px;
  margin-right: 15px;
  text-align: center;
}
header #logo-div p{
  color: #fff;
  font-size: 12px;
}
header #header-menu{
  float: right;
  width: calc(100% - 215px);
  text-align: right;
  padding-top: 55px;
  position: relative;
}
header #header-menu .nav-tabs{
  border-bottom: 0;
  float: right;
}
header #header-menu .nav-tabs>li>a{
  color: rgb(255, 255, 255);
  padding: 10px;
}
header #header-menu .nav>li>a:focus, header #header-menu .nav>li>a:hover{
  background-color: transparent;
  outline: none;
}
header #header-menu .nav-tabs>li>a:hover{
  background: none;
  border-color: transparent;
  color: rgb(51, 221, 252);
}
header #header-menu .nav-tabs.nav-days-tabs{
  position: absolute;
  top: 56px;
  left: calc(50% - 120px);
  background: #fff;
  border: 4px solid #ddd;
  border-radius: 20px;
}
header #header-menu .nav-tabs.nav-days-tabs li{
  width: 80px;
  height: 30px;
  text-align: center;
}
header #header-menu .nav-tabs.nav-days-tabs li a{
  line-height: 30px;
  width: 100%;
  padding: 0;
  color: #555;
  border: 0;
  font-weight: bold;
}
header #header-menu .nav-tabs.nav-days-tabs>li.active>a, header #header-menu .nav-tabs.nav-days-tabs>li.active>a:focus, header #header-menu .nav-tabs.nav-days-tabs>li.active>a:hover{
  border-radius: 20px;
  background-color: rgb(51, 221, 252);
}
header #header-menu .nav-tabs>li.active>a, header #header-menu .nav-tabs>li.active>a:focus
{
  background-color: rgb(51, 221, 252);
  border-radius: 4px;
  border-color: transparent;
  color: #000;
}
nav{
  float: left;
  width: 200px;
}
main{
  float: right;
  width: calc(100% - 215px);
}
nav .nav-tabs{
  border-bottom: 0;
}
nav .nav-tabs>li{
  float: none;
}
nav .nav>li>a{
  text-align: center;
  color: #fff;
  margin-bottom: 5px;
}
nav .nav-tabs>li.active>a, nav .nav-tabs>li.active>a:focus, nav .nav-tabs>li.active>a:hover, nav .nav>li>a:hover{
  color: #000;
  background-color: rgb(51, 221, 252);
  border-color: transparent;
  border-radius: 4px;
}
.form-group label{
  color: #fff;
}
.alert.alert-danger{
  width: 400px;
  height: 60px;
  margin: auto;
  line-height: 30px;
  margin-bottom: 30px;
}
.sign-frm{
  width: 400px;
  margin: auto;
}
.sign-frm input{
  height: 60px;
  background-color: rgb(216, 216, 216);
}
.sign-frm button{
  height: 60px;
  width: 100%;
  border-radius: 4px;
  background: rgb(74, 74, 74);
  border-color: rgb(74, 74, 74);
  font-size: 18px;
}
.sign-frm button:hover{
  background-color: rgb(51, 221, 252);
  color: #000;
}
.form-group.form-forgot-pass{
  text-align: center;
}
.form-group.form-forgot-pass a{
  color: #fff;
}
.alert{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}
