﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>MEAN Stack User Registration and Login Example Application</title>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/style.css" rel="stylesheet" />
    <link href="app-content/app.css" rel="stylesheet" />
</head>
<body class="container">
    <!-- loading -->
    <div id="work-in-progress"><div id="progress-img-container"><img src="/loader.gif"></div></div>
    <!-- header -->
    <header>
        <div id="logo-div" onclick="document.location.href='/app'">
            <img src="/logo.png">
            <p>ICP-ANALYSIS.COM</p>
        </div>
        <div id="header-menu">
            <div class="hi-activeuser"></div>
            <ul class="nav nav-tabs">
                <li ng-class="{active: activeTab === 'home'}"><a ui-sref="home">Order Test Kits</a></li>
                <li ng-class="{active: activeTab === 'support'}"><a ui-sref="support">Support</a></li>
                <li ng-class="{active: activeTab === 'account'}"><a ui-sref="account">Account</a></li>
                <li class="dashboard-menu"><a href="/dashboard" target="_blank">Dashboard</a></li>
                <li><a href="/login" target="_self">Logout</a></li>
            </ul>
        </div>
    </header>

    <div class="flash-message" ng-if="flash">
        <div class="{{'alert alert-' + flash.type}}" ng-bind="flash.message"></div>
    </div>

    <!-- main -->
    <main ui-view></main>

    <!-- footer -->
    <footer></footer>

    <!-- external scripts -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>

    <!-- application scripts -->
    <script src="app.js"></script>
    <script src="app-services/user.service.js"></script>
    <script src="app-services/flash.service.js"></script>
    <script src="app-services/element.service.js"></script>
    <script src="app-services/notification.service.js"></script>
    <script src="app-services/aquarium.service.js"></script>
    <script src="app-services/test.service.js"></script>
    <script src="app-services/location.service.js"></script>
    <script src="home/index.controller.js"></script>
    <script src="account/index.controller.js"></script>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-110615842-1"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-110615842-1');
</script>
</body>
</html>
